.container-about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture-about {
    height: 300px;
    width: 300px;
    max-height: 300px;
    max-width: 300px;
    min-height: 300px;
    min-width: 300px;

    margin-right: 60px;

    border-radius: 360px;
    border: 4px solid rgba(0, 0, 0, 0.30);
}