.content-container {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 400px;
    padding-right: 400px;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.profile-picture {
    height: 300px;
    width: 300px;

    margin-right: 60px;

    border-radius: 360px;
    border: 4px solid rgba(0, 0, 0, 0.30);
}