.normal-card {
    grid-column-end: span 1;
}

.highlight-card {
    grid-column-end: span 1;
}

/* desktop-small */
@media all and (min-width: 481px) { 
	.highlight-card {
        grid-column-end: span 2;
    }
}

.project-card {    
    height: 256px;

    position: relative;

    border-radius: 4px;
    overflow: hidden;

    box-shadow: 0 3px 6px rgba(0,0,0,0.32), 0 3px 4px rgba(0,0,0,0.34);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
  
.project-card:hover {
    box-shadow: 0 12px 28px rgba(0,0,0,0.25), 0 8px 10px rgba(0,0,0,0.22);
}

.info-bar {
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.50);
    color: white;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
    position: absolute;
    left: 0px;
    bottom: 0px;   

    padding-left: 16px;
    padding-right: 8px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-image {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;

    display: block;
    object-fit: cover;
}