.select {
    /* -webkit-appearance: none; 
    -moz-appearance: none; */
    /* appearance: none;       /* remove default arrow */
    /* background-image: url("");  /* add custom arrow */

    padding: 8px;
    margin: 4px;

    text-transform: uppercase;
    text-align: center;
    
    background-color: transparent;

    border: 1px solid #4CAF50; /* Green */
    border-radius: 6px;

    -webkit-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.select:focus {
    outline:0;
}