.work-container {
    flex-flow: row wrap;
}

.work-container::before, .work-container::after {
    content: '';
    width: 100%;
    order: 1;
}
.item:nth-child(n + 4) {
    order: 1;
}
.item:nth-child(n + 7) {
    order: 2;
}

.project-container-work {
    width: 100%;
}