.root-home {
    height: 100%;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    margin: 0;
    padding: 0;
}

.work {
    display: flex;
    align-items: center;
    justify-content: center;
}

.route-fade-enter {
    opacity: 0;
}

.route-fade-enter.route-fade-enter-active {
	opacity: 1;
	transition: opacity 600ms ease-in-out;
}

.route-fade-exit {
    opacity: 1;
    position: fixed;
    display: none
}

.route-fade-exit.route-fade-exit-active {
	opacity: 0;
	transition: opacity 0ms ease-in-out;
}