/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) {
    .navbar-dimensions {
        height: 56px;
        width: 100%;
    }

    .navbar-item-dimensions {
        margin: 4px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .navbar-logo {
        display: none;
    }
}

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) {
    .navbar-dimensions {
        height: 56px;
        width: 100%;
    }

    .navbar-item-dimensions {
        margin: 8px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .navbar-logo {
        margin: 20px;
        padding: 16px;
    
        font-size: 18px;
    
        color: #333;
        border: 2px dashed #f69c55;
    }
}

/* desktop-medium */
@media all and (min-width: 841px) {
    .navbar-dimensions {
        height: 88px;
        width: 100%;
    }

    .navbar-item-dimensions {
        margin: 8px;
        padding: 16px;
    }

    .navbar-logo {
        margin: 20px;
        padding: 16px;
    
        font-size: 18px;
    
        color: #333;
        border: 2px dashed #f69c55;
    }
}

.navbar {
    position: fixed;

    z-index: 100;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    line-height: 1em;
    color: #333;

    -webkit-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.elevated {
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.10);
}

.navbar-item {
    border-radius: 4px;

    -webkit-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.navbar-item:hover, .navbar-logo:hover {
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;

    background-color: rgba(0, 0, 0, 0.05);
}