body, html, #root {
    width: 100%;
    
    margin: 0;
    padding: 0;
}

html, #root {
    overflow-x: hidden;

    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    color: #333;
}

.text-unselectable {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.clickable {
    cursor: pointer;
}

clickable:focus {
    outline:none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 

    -webkit-animation: color-change 10000ms infinite;
    -moz-animation: color-change 10000ms infinite;
    -o-animation: color-change 10000ms infinite;
    -ms-animation: color-change 10000ms infinite;
    animation: color-change 10000ms infinite;
}

@-webkit-keyframes color-change {
    0% { color: #2196F3; }
    25% { color: #4CAF50; }
    50% { color: #FFC107; }
    75% { color: #FF5722; }
    100% { color: #2196F3; }
}

@-moz-keyframes color-change {
    0% { color: #2196F3; }
    25% { color: #4CAF50; }
    50% { color: #FFC107; }
    75% { color: #FF5722; }
    100% { color: #2196F3; }
}

@-ms-keyframes color-change {
    0% { color: #2196F3; }
    25% { color: #4CAF50; }
    50% { color: #FFC107; }
    75% { color: #FF5722; }
    100% { color: #2196F3; }
}

@-o-keyframes color-change {
    0% { color: #2196F3; }
    25% { color: #4CAF50; }
    50% { color: #FFC107; }
    75% { color: #FF5722; }
    100% { color: #2196F3; }
}

@keyframes color-change {
    0% { color: #2196F3; }
    25% { color: #4CAF50; }
    50% { color: #FFC107; }
    75% { color: #FF5722; }
    100% { color: #2196F3; }
}